.logo {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    color:  rgb(176, 91, 255);
}

.nav-link{
    margin-right: 20px;
}

.navbar-bg  {
    background-color: black;
}

.nav-display {
    justify-content: space-between;
}

.navbar-text{
    color: rgb(176, 91, 255) !important;
    text-align: center;
    font-weight: bold;
}

.navbar-link{
    margin-top: 15px;
}