.navbar-bg  {
    background-color: black;
}

.nav-display {
    justify-content: space-between;
}

.navbar-text{
    color: rgb(176, 91, 255) !important;
    text-align: center;
    font-weight: bold;
}