.album-card {
    /* width: 300px !important; */
    margin: 20px 30px 60px 30px;
}

.album-card  .card-img-top{
    /* width: 100%; */
}

.album-card .album-link ,.album-card .artist-link {
    text-decoration: none;
    color: black;
}