.p-artist .artist-img{
    width: 250px;
    height: 250px;
    margin: 40px;
    object-fit:cover;
    border-radius: .25rem;
}

.p-artist .artist{
    display: flex;
    justify-content: center;
}


.p-artist h1{
    margin: 40px;
}  

.p-artist .artist-albums{
    padding-top: 50px;
}

.p-artist .reg-heart{
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    height: 30px;
    width: 30px;
    cursor:pointer;
}

.p-artist .heart{
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    height: 30px;
    width: 30px;
    cursor:pointer;
}