.artist-card {
    height: 280px;  
    margin: 20px 30px 60px 30px;
}
  
.artist-card .artist-link  {
    text-decoration: none;
    color: black;
}


.artist-card .artist-img  {
    height: 220px;
    Object-fit: cover;
}
