.p-album .album-row:first-child{
    display: flex;
    justify-content: center;
}

.p-album .album-img img{
    width: 250px;
    margin: 40px;
    border-radius: .25rem;
} 

.p-album .album-details{
    margin: 40px;
} 

.p-album .album-tracks{
    margin-left: 30px;
    width: 50%;
}

.p-album h4{
    font-weight: bold;
    margin: 30px;
}

.p-album h3 , .p-album h5{
    font-weight: bold;
    color: white;
    margin: 20px 0 20px 0;
}

.p-album .tracks-btn , .p-album a{
    /* background-color: rgb(176, 91, 255); */
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    /* border-radius: 20px; */
}

.p-album .td-btn{
    text-align: center;
}

.p-album ._oGACf{
    width:40%;
}

.p-album ._8a8Wj {
    display: none;
}

.p-album ._1EWMa{
    margin-top: 100px;

}

.p-album ._wKo5X , ._2_1sf , ._2cSIF, ._3q4Ah, ._tAQkw{
    margin: 20px;
}

.p-album ._19ycA , ._3Juzi, ._3a3Vy , ._1mI0y {
    width: 20px;
    height: 20px;
}

.p-album ._tAQkw , ._3q4Ah{
    font-size: 18px;
    font-family: 'Nunito', sans-serif ;
}